.container{
	width: 800px;
	border:3px solid black;
	margin:auto;
	padding:5px;
}

.kiri{
	width: 150px;
	height: 500px;
	background-color: darkblue;
	float: left;
	padding: 5px;
	box-sizing: border-box;
}

.tengah{
	width: 500px;
	height: 500px;
	background-color: yellow;
	float: left;
}

.kanan{
	width: 150px;
	height: 500px;
	background-color: green;
	float: right;
}

/*Untuk membersihkan (Float) left*/
.clear{
	clear: both;
}