.container{
	width: 600px;
	border:3px solid black;
	margin:auto;
	padding:5px;
}

.satu, .dua, .tiga{
	width: 100px;
	height: 100px;
}

.satu{
	background-color:#ff0000;
}

.dua{
	background-color:#00ff00;
	float: right;
}

.tiga{
	background-color:#ffff1a;
}